{%extends 'base_content.html'%}
{%load static%}

{% block title %}Record Transfer{% endblock %}


{%block jumbotron%}
Record Bank Transfer
{%endblock%}


{% block content %}
<div class="container">
    <div class="row">
        <div div class="col-md-6 offset-md-3">
            <div class="mb-4">
                <h1>Bank Transfer</h1>

                <table>
                    <tr>
                        <td style="padding: 0 15px;">
                            <div class="card"
                                style='width: 18rem;margin-top:25px; margin-right: auto; text-align: center;'>
                                <div class="card-body">
                                    <h5 class="card-title">Lesson to be paid for :</h5>
                                    {% include "partials/lessonDisplay.html" with lesson=lessonTBP %}
                                </div>
                            </div>

                        </td>
                        <td style="padding: 0 15px;">
                            <div style="text-align: center;">
                                <h6>Your bank balance : </h6>
                                £{{user.balance}}
                            </div>
                        </td>
                    </tr>

                </table>
                <h5 class='mt-5'>Please enter the invoice number for this payment:</h5>
                {% include "partials/bankTransfer-form.html" with lesson=lessonId %}

            </div>
        </div>
        {% for message in messages %}
        <div class="alert alert-danger">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}

            {% endfor %}
        </div>
    </div>



    {% endblock %}