{%extends 'base_content.html'%}
{%load static%}

{% block title %}Record Transfer{% endblock %}


{%block jumbotron%}
Record Bank Transfer
{%endblock%}


{% block content %}
<div class="container">
    <div class="row">
        <div div class="col-md-6 offset-md-3">
            <div class="mb-4">
                <h1>Bank Transfer</h1>
                <p>Please enter the invoice number for this payment.</p>
            </div>
            {% include "partials/bankTransfer-form.html" with lesson= lessonId  %}
        </div>
    </div>
</div>

{% endblock %}