{% extends "base_content.html" %}

{% block title %}
MSMS - Dashboard
{% endblock %}

{% block content %}
<div class="container">
  {% for req in pending %}
  <div>
    <div>
      <span>Specified availability:</span>
      <span>{{req.availability.capitalize}}</span>
    </div>
    <div>
      <span>Number of requested lessons:</span>
      <span>{{req.number_of_lessons}}</span>
    </div>
    <div>
      <span>Requested lesson duration:</span>
      <span>{{req.duration}} minutes</span>
    </div>
    <div>
      <span>Days between lessons:</span>
      <span>{{req.interval}} days</span>
    </div>
    <div>
      <span>Additional info:</span>
      <span>{{req.extra_info}} TEST MAX LENGTH FOR LINE BREAK</span>
    </div>
    <div>
      <span>Booking status:</span>
      <span>{{req.is_approved}}</span>
    </div>
  </div>
  <div>
    <input type="submit" value="Edit" class="btn btn-secondary">
    <input type="button" value="Delete" class="btn btn-danger">
  </div>
  {% endfor %}
</div>

{% endblock %}