{%extends 'base.html'%}
{%load static%}


{% block title %}Home{% endblock %}

<!--navbar here-->

{%block jumbotron%}
Music School Management System
{%endblock%}

<!--if not logged in-->

{%block navbar%}
<a class='nav-link' href="{% url 'log_in' %}">Log In</a>
<a class='nav-link' href="{% url 'sign_up' %}">Sign Up</a>
{%endblock%}



{% block content %}
<p> this is a welcome message </p>
<p><a href="{% url 'request-lessons' %}">Request a lesson</a></p>
<p><a href="{% url 'request-display' %}">See Requests</a></p>
{% endblock %}


