<html>
  <head>
    <title>Request Lessons</title>
  </head>
  <body>
    <h1>Request Lessons</h1>
    <p><p><a href="{% url 'home' %}">Back to home</a></p></p>
    <form action="{% url 'request-lessons' %}" method="post">
        {% csrf_token %}  <!--allows server to auth source of a request to ensure no one is trying to pretend to send request from our browser on their end so they can access our account-->
        {{ form.as_p }}<!--double curly brackets used to present variables in template-->
        <input type="submit" value="Request lesson">
  </body>
</html>



