{%extends 'base_content.html'%}
{%load static%}

{% block title %}All transfers{% endblock %}

{%block jumbotron%}
All transfers{%endblock%}

{% block content %}
<div class="container">
  <div class="row">
    <div div class="col-md-6 offset-md-3">
      <div class="mb-4">
        <h1>Your Transactions</h1>
      </div>
  <h5> Current Balance: £{{user.print_balance}}</h5>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Invoice number</th>
        <th scope="col">Payment</th>
      </tr>
    </thead>
  {% for transfer in allTransfers %}
    <tbody>
      <tr>
        <td>#{{transfer.invoice_number}}</td>
        <td>£{{transfer.cost}}</td>
      </tr>
    </tbody>
  {% endfor %}
    </div>
  </div>
</div>

{% endblock %}